.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 20px;
}
.navbar h1 {
  font-family: "Ubuntu", "sans-serif";
  color: #6E2C00;
  font-size: 16px;
}
.navbar__list {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  font-family: "Dosis", "sans-serif";
}
.navbar__list a:link,
.navbar__list a:visited {
  text-decoration: none;
}
.navbar__list li {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 14px;
  color: #183a1d;
}
.navbar__button {
  background-color: #f6c453;
  border: 2px, solid, #6E2C00;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Dosis", "sans-serif";
  width: 100px;
  padding: 5px;
  color: #183a1d;
}
.navbar__button a:link,
.navbar__button a:visited {
  text-decoration: none;
}