.nav-container {
  display: none;
}
.nav-container__navbar {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;
  align-items: center;
  padding: 20px;
}
.nav-container__navbar h1 {
  font-family: "Ubuntu", "sans-serif";
  color: #6E2C00;
  font-size: 16px;
}
.nav-container__navbar ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  font-family: "Roboto", "sans-serif";
}
.nav-container__navbar ul a:link,
.nav-container__navbar ul a:visited {
  text-decoration: none;
}
.nav-container__navbar ul li {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 14px;
  color: #183a1d;
}
.nav-container__navbar ul li:hover {
  color: #6E2C00;
}
.nav-container__navbar button {
  background-color: #f6c453;
  border: 2px, solid, #6E2C00;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Roboto", "sans-serif";
  width: 100px;
  padding: 5px;
  color: #183a1d;
  box-shadow: 1px 1px 2px;
}
.nav-container__navbar button a:link,
.nav-container__navbar button a:visited {
  text-decoration: none;
}
.nav-container__navbar button:hover {
  background-color: white;
  cursor: pointer;
}