$font-color: #183a1d;
$primary-color: #6E2C00;
$secondary-color: #f6c453;
$hilighted-color: #e1eedd;
$background-color: rgb(255, 255, 255);

$primary-font: "Ubuntu", "sans-serif";
$secondary-font: "Roboto", "sans-serif";