@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&family=Ubuntu:ital,wght@0,700;1,400&display=swap");
.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #183a1d;
}
.about-me h2 {
  font-family: "Ubuntu", "sans-serif";
  font-size: 18px;
  text-align: center;
  padding: 10px;
}
.about-me img {
  width: 200px;
  height: auto;
  border: 2px solid #6E2C00;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
}
.about-me p {
  font-family: "Dosis", "sans-serif";
  font-size: 14px;
  width: 240px;
  display: flex;
  align-self: center;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #183a1d;
}
.skills h2 {
  font-family: "Ubuntu", "sans-serif";
  font-size: 18px;
  text-align: center;
  padding: 10px;
  margin-top: 30px;
}
.skills__p {
  font-family: "Dosis", "sans-serif";
  font-size: 14px;
  padding: 10px;
  text-align: center;
  display: flex;
  align-self: center;
  width: 240px;
}
.skills__img-with-text {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  align-self: center;
}
.skills__img-with-text img {
  height: 45px;
  padding: 5px;
  display: block;
  margin: 0 auto;
}
.skills__img-with-text p {
  text-align: justify;
  font-family: "Ubuntu", "sans-serif";
  font-size: 12px;
  color: #183a1d;
  text-align: center;
}

.project-h2 {
  font-family: "Ubuntu", "sans-serif";
  text-align: center;
  font-size: 18px;
  padding: 10px;
  margin-top: 30px;
}

.project {
  color: #183a1d;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project .card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 320px;
  height: auto;
}
.project .card__img-container {
  background-color: #e1eedd;
  position: relative;
  height: 200px;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}
.project .card__img {
  width: 260px;
  height: auto;
}
.project .card h3 {
  font-family: "Dosis", "sans-serif";
  font-size: 14px;
  color: #6E2C00;
  margin-top: 15px;
}
.project .card h4 {
  font-family: "Ubuntu", "sans-serif";
  font-size: 20px;
  color: #183a1d;
}
.project .card p {
  font-family: "Dosis", "sans-serif";
  font-size: 14px;
  padding: 5px;
}
.project .card__button {
  font-family: "Dosis", "sans-serif";
}
.project .card__button button {
  background-color: #f6c453;
  color: #183a1d;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
  text-decoration: none;
  width: 100px;
  margin-right: 10px;
  border: 2px solid #6E2C00;
  border-radius: 5px;
}

.ft-container {
  background-color: #183a1d;
  font-family: "Dosis", "sans-serif";
  font-size: 14px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100 vw;
  padding-top: 40px;
  padding-bottom: 40px;
}
.ft-container__link-icon {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  background-color: #183a1d;
  align-items: center;
  margin-bottom: 20px;
}
.ft-container a {
  border: 3px solid #f6c453;
  border-radius: 50%;
}
.ft-container img {
  align-self: center;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
.ft-container p {
  background-color: #183a1d;
}

.navbar {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr;
  align-items: center;
  padding: 20px;
}
.navbar h1 {
  font-family: "Ubuntu", "sans-serif";
  color: #6E2C00;
  font-size: 16px;
}
.navbar__list {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  font-family: "Dosis", "sans-serif";
}
.navbar__list a:link,
.navbar__list a:visited {
  text-decoration: none;
}
.navbar__list li {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 14px;
  color: #183a1d;
}
.navbar__button {
  background-color: #f6c453;
  border: 2px, solid, #6E2C00;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Dosis", "sans-serif";
  width: 100px;
  padding: 5px;
  color: #183a1d;
}
.navbar__button a:link,
.navbar__button a:visited {
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #fefbe9;
}

.head header {
  font-family: "Ubuntu", "sans-serif";
  font-size: 16px;
  padding: 10px;
  color: #183a1d;
}
.head h1 {
  font-family: "Ubuntu", "sans-serif";
  font-size: 30px;
  color: #6E2C00;
  padding: 10px;
}
.head img {
  width: 200px;
  height: auto;
}

@media screen and (min-width: 768px) {
  .head {
    display: grid;
    grid-template-areas: "head1 image" "head2 image";
    width: 60vw;
    justify-content: center;
    margin: 20px;
  }

  header {
    grid-area: head1;
  }

  h1 {
    grid-area: head2;
  }

  img {
    grid-area: image;
  }

  .skills__img-with-text {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .project {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .ft-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
  }
}