@use "./variables" as *;
@use "./components" as *;
@use "./nav" as *;

// font "Ubuntu" , "Roboto" 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Ubuntu:ital,wght@0,700;1,400&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: $background-color;
}



@media screen and (min-width: 768px) {
    .nav-container {
        display: unset;
    }
    
    .head {
        display: grid;
        grid-template-areas: 
            "head1 image"
            "head2 image";     
        width: 60vw;
        align-self: center;
        margin: 20px 100px 50px 100px;
        
        header {
            grid-area: head1;
        }

        h1 {
            grid-area: head2;
        }

        img {
            grid-area: image;
            display: unset;
        }   
    }
            
    

    .about-me {
        margin-left: 100px;
        margin-right: 100px;
        display: grid;
        grid-template-areas:
            "myimage heading heading heading"
            "myimage text text text";

        h2 {
            grid-area: heading;
            text-align: left;
            margin-left: 45px;
            margin-bottom: 10px;
        }

        img {
            grid-area: myimage;
            align-self: center;
        }

        &__text {
            grid-area: text;
        }
    }

    .skills {
        &__img-with-text {
            display: flex;
            justify-content: center;
        }
    }

    .project {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .ft-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
    }
}