@use "./variables" as *;
@use "./components" as *;
@use "./nav" as *;

// font "Ubuntu" , "Dosis" 
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&family=Ubuntu:ital,wght@0,700;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: $background-color;
}

.head {
   
    header {
        font-family: $primary-font;
        font-size: 16px;
        padding: 10px;
        color: $font-color;
    }

    h1 {
        font-family: $primary-font;
        font-size: 30px;
        color: $primary-color;
        padding: 10px;
    }

    img {
        width: 200px;
        height: auto;
    }
}

@media screen and (min-width: 768px) {
    .head {
        display: grid;
        grid-template-areas: 
            "head1 image"
            "head2 image";     
        width: 60vw;
        justify-content: center;
        margin: 20px;
    }
            
    header {
        grid-area: head1;
    }

    h1 {
        grid-area: head2;
    }

    img {
        grid-area: image;
    }   

    .skills {
        &__img-with-text {
            display: flex;
            justify-content: center;
        }
    }

    .project {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
    }

    .ft-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
    }
}