@use "./variables" as *;

// font "Ubuntu" , "Dosis" 
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&family=Ubuntu:ital,wght@0,700;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: $background-color;
}

header {
    font-family: $primary-font;
    font-size: 16px;
    padding: 10px;
    color: $font-color;
}

h1 {
    font-family: $primary-font;
    font-size: 30px;
    padding: 10px;
    color: $primary-color;
}

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $font-color;
    
    &__h2 {
        font-family: $primary-font;
        font-size: 18px;
        text-align: center;
        padding: 10px;
    }

    &__img {
        width: 60%;
        border: 2px solid $primary-color;
        margin: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    &__p {
        font-family: $secondary-font;
        font-size: 14px;
        padding: 10px;
    }
}